# =========================
# Build output
# =========================
target/
bin/
out/
build/

# =========================
# IDE files
# =========================
.classpath
.project
.settings/
.factorypath

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp
.DS_Store

# =========================
# Environment files
# =========================
.env

# =========================
# OS-specific
# =========================
Thumbs.db
